$rojo: red;
$verde : #4CB8B3;
$rosa: #ff005b;
$morado: purple;
$negro: black;
$blanco: #FFFF;
$amarillo: yellow;

$fuente_principal: 'Montserrat', sans-serif;;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

body{
    color: $rojo;
}
